.fz-40 {
  font-size: 40px;
}
.fz-15 {
  font-size: 25px;
}
.ta-c {
  text-align: center;
}
.main-title {
  background-color: gray;
  color: white;
}
.p-10 {
  padding: 10px;
}
.m-20 {
  margin: 20px;
}
